.pdca {
	height: 300px;
	width: 300px;
	margin-bottom: 20px auto;
	animation: 0.1s linear infinite cycling;
}

.cycling {
	animation: 0.1s linear infinite cycling;
}

@keyframes cycling {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(360deg);
	}
}

.paused {
	animation-play-state: paused;
}